p {font-size: 15px;}

.bg-2 { 
    background-color: white; 
    color: black;
    font-family:sans-serif;
  }
.bg-3 { 
    background-color: blueviolet;
    color: white;
    font-family:cursive;
  }
.bg-4 { 
    font-size: 14px;
    background-color: lightgray; 
    color:black;
  }
.container-fluid {
    padding-top: 70px;
    padding-bottom: 50px;
  }
.container-1
{
    font-family: fantasy;
    text-align: center;
    
}
